head
  link(href='/stickers.css', rel='stylesheet')
body
.ruler
  .sticker-page
    each row in new Array(9)
      .sticker-row
        each col in new Array(3)
          .sticker
            .sticker-content
              img.logo(src="images/levidesous.png")
              .website-text www.levidesous.com
